@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skew-button {
  position: relative;
  overflow: hidden;
  transition: color 0.6s;
}

.skew-button::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: -1;
  transition: all 1s;
}

.skew-button:hover::before {
  height: 100%;
}

.skew-button:hover {
  color: black;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
